*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E0C00;
}
header{
    width: 100%;
    height: 130px;
    display: flex; 
    align-items: center;  
}
nav{
    width: 98%;
    height: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .daf{
    width: 162px;
    height: 37px;
}
ul{
    width: 470px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
ul li{
    transition: 0.5s;
    list-style: none;
}
ul li a:hover{
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
ul li a {
    color: #A3A3A3;
    text-decoration: none;
}
.right{
    width: 230px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log{
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
}
.sum{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
}
.del_cont{
    width: 830px;
    height: 650px;
}
.str{
    width: 538px;
    height: 185px;
    font-size: 60px;
    color: white;
    font-weight: 1000px;
}
.free{
    width: 411px;
    height: 80px;
    font-size: 20px;
    color: #A3A3A3;
    display: flex;
}
.sec{
    width: 320px;
}
.vid{
    width: 272px;
    height: 193px;
}
.but{
    height: 100px;
    display: flex;
    align-items: center;
}
.button{
    width: 200px;
    height: 52px;
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
    border-radius: 30px;
    z-index: 1;
    border-color: #FE9C1C;
}
.button p{
    color: white;
    font-size: 19px;
}
.button_2{
    position: relative;
    right: 50px;
    width: 200px;
    height: 52px;
    border-radius: 30px;
    -webkit-background-clip: text;
    border-color: #FE9C1C;
}
.button_2 p{
    font-size: 15px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 0;
}
.del{
    width: 1780px;
    height: 882px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.piz{
    position: relative;
    top: 190px;
    width: 456px;
    height: 684px;
}
.mini_piz{
    position: relative;
    width: 245px;
    height: 185px;
    bottom: 520px;
    left: 280px;
}
.potat{
    position: relative;
    width: 212px;
    height: 226px;
    bottom: 200px;
    right: 80px;
}
.sil{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sil h1{
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 60px;
    font-weight: 900;
    height: 100px;
}
.chooseice{
    width:85%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.chooseice p{
    color: white;
    font-size: 18px;
}
.chooseice button{
    width: 230px;
    height: 52px;
    border-radius: 30px;
    background: #210A01;
}
.chooseice button:hover{
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
    transition: 0.5s;
}
.shar{
    width: 100%;
    height: 520px;
}
.shar_container{
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.italian{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.italian img{
    position: relative;
    bottom: 90px;
}
.italian .itil{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.italian .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.gei{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kol{
    width: 194px;
    display: flex;
    justify-content: space-around;
}
.kol p{
    color: #A3A3A3;
}
.kol button{
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background: #210A01;
    position: relative;
    bottom: 60px;
}
.kol button:hover{
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
    transition: 0.5s;
}
.ingridient{
    width: 194px;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 40px;
}
.gei{
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 33px;
    position: relative;
    bottom: 30px;
}
.gei .lilo{
    width: 66px;
    height: 32px;
}
.gei .opp{
    width: 82px;
    height: 26px;
    display: flex;
    justify-content: space-around;
}
.gei .opp button{
    width: 23px;
    height: 23px;
    border-radius: 30px;
    background-color: #210A01;
    color: #A3A3A3;
}
.gei .opp button:hover{
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
    transition: 0.5s;
}
.order{
    width: 188px;
    height: 44px;
    border-radius: 30px;
    background: linear-gradient(90deg, #FF5D29 0%, #FE9C1C 100%);
    position: relative;
    bottom: 20px;
}
.ordn p{
    color: white;
    font-size: 15px;
}
.Venecia{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Venecia img{
    position: relative;
    bottom: 90px;
}
.Venecia .venec{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.Venecia .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.Meat{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Meat img{
    position: relative;
    bottom: 90px;
}
.Meat .meat_container{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.Meat .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.Cheese{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Cheese img{
    position: relative;
    bottom: 90px;
}
.Cheese .chee{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.Cheese .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;

}
.popular{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
}
.popular_container{
    width: 1248px;
    height: 290px;
}
.dof{
    width: 100%;
    height: 420px;
}
.dof_container{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.Argentina{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Argentina img{
    position: relative;
    bottom: 90px;
}
.Argentina .Argen{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.Argentina .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.Gribnaya{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Gribnaya img{
    position: relative;
    bottom: 90px;
}
.Gribnaya .Grib{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.Gribnaya .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.Tomato{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Tomato img{
    position: relative;
    bottom: 90px;
}
.Tomato .tomato_container{
    position: relative;
    bottom: 80px;
    width: 73px;
    height: 60px;
}
.Tomato .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.Italianx2{
    width: 297px;
    height: 459px;
    background-color: #210A01;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.Italianx2 img{
    position: relative;
    bottom: 90px;
}
.Italianx2 .italx2{
    position: relative;
    bottom: 80px;
    width: 100px;
    height: 60px;
}
.Italianx2 .fili{
    width: 229px;
    height: 32px;
    font-size: 15px;
    color: #A3A3A3;
    position: relative;
    bottom: 85px;
}
.blog{
    width: 1800px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.blog_container{
    width: 830px;
    height: 280px;
    display: flex;
    justify-content: space-around;
}
.cook{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 367px;
    height: 260px;
    background-image: url(Photos/How\ we.png);
}
.cook h1{
    color: white;
    position: relative;
    left: 25px;
    width: 170px;
    height: 55px;
    font-size: 24px;
}
.cook button{
    position: relative;
    color: white;
    top: 80px;
    right: 145px;
    width: 200px;
    border-color: #FE9C1C;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
}
.our{
    background-image: url(Photos/Our.png);
    width: 396px;
    height: 260px;
}
.our h1{
    color: white;
    position: relative;
    top: 100px;
    left: 25px;
    width: 170px;
    height: 55px;
    font-size: 24px;
}
.our button{
    position: relative;
    top: 135px;
    left: 25px;
    color: white;
    border-color: #FE9C1C;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
}
.event{
    width: 430px;
    height: 140px;
}
.event h1{
    color: white;
    font-size: 60px;
    width: 380px;
    height: 75px;
    font-weight: 900;
    display: flex;
    justify-content: end;
}
.event p{
    color: #A3A3A3;
    font-size: 20px;
    width: 427px;
    height: 55px;
}
.htp{
    width: 1680px;
    height: 290px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.for_1{
    background-image: url(Photos/Two\ pizza.png);
    width: 610px;
    height: 260px;
    border-radius: 20px;
}
.for_1 h1{
    width: 160px;
    height: 55px;
    color: white;
    font-size: 23px;
    position: relative;
    bottom: 120px;
    left: 25px;
}
.for_1 button{
    position: relative;
    bottom: 85px;
    left: 25px;
    color: white;
    width: 200px;
    border-color: #FE9C1C;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
}
.tour{
    background-image: url(Photos/Kitchen\ tour.png);
    width: 615px;
    height: 260px;
    border-radius: 20px;
}
.tour h1{
    width: 168px;
    height: 55px;
    color: white;
    font-size: 23px;
    position: relative;
    bottom: 165px;
    left: 25px;
}
.tour button{
    position: relative;
    bottom: 115px;
    left: 25px;
    color: white;
    border-color: #FE9C1C;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
}
.gud{
    position: relative;
    left: 440px;
    bottom: 50px;
    width: 230px;
    height: 250px;
}
.egg_b{
    width: 215px;
    height: 215px;
    position: relative;
    right: 100px;
    bottom: 90px;
}
.gud{
    width: 1780px;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.freepiz{
    background-image: url(Photos/free\ coffee\ .png);
    width: 401px;
    height: 260px;
}
.cofe{
    width: 200px;
    height: 200px;
    position: relative;
    top: 90px;
    right: 95px;
}
.freepiz h1{
    color: white;
    width: 168px;
    height: 54px;
    font-size: 24px;
    position: relative;
    bottom: 110px;
    left: 25px;
}
.freepiz button{
    width: 204px;
    height: 38px;
    border-radius: 30px;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
    color: white;
    position: relative;
    border-color: #FE9C1C;
    bottom: 80px;
    left: 25px;
}
.instag{
    background-image: url(Photos/Инстаграм.png);
    width: 401px;
    height: 260px;
}
.instag h1{
    color: white;
    width: 168px;
    height: 54px;
    font-size: 23px;
    position: relative;
    top: 80px;
    left: 25px;
}
.instag button{
    width: 204px;
    height: 38px;
    border-radius: 30px;
    border-color: #FE9C1C;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
    position: relative;
    top: 135px;
    left: 25px;
    color: white;
    font-size: 14px;
}
.choose{
    background-image: url(Photos/Choose.png);
    width: 401px;
    height: 260px;
}
.choose h1{
    color: white;
    width: 171px;
    height: 81px;
    font-size: 25px;
    position: relative;
    top: 80px;
    left: 25px;
}
.choose button{
    width: 204px;
    height: 38px;
    border-radius: 30px;
    border-color: #FE9C1C;
    background-image: linear-gradient(to right,#FF5D29 0%, #FE9C1C 100%);
    position: relative;
    top: 110px;
    left: 25px;
    color: white;
    font-size: 14px;
}
.just{
    width: 500px;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.huz h1{
    color: white;
    width: 296px;
    height: 110px;
    font-size: 58px;
    font-weight: 900;
    display: flex;
    align-items: end;
}
.huz p{
    color: #A3A3A3;
    width: 445px;
    height: 130px;
    font-size: 21px;
    display: flex;
    align-items: center;
}
.alotpiz{
    background-image: url(Photos/Много\ пиц.png);
    width: 490px;
    height: 235px;
}
.plok{
    width: 408px;
    height: 108px;
    color: #A3A3A3;
    font-size: 21px;
}
.folp{
    background-image: url(Photos/Большая\ пицца.png);
    width: 620px;
    height: 620px;
}
.texsts{
    width: 1600px;
    height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.min_piz2{
    width: 230px;
    height: 230px;
    position: relative;
    left: 490px;
    bottom: 70px;
}
.potat2{
    position: relative;
    height: 230px;
    width: 230px;
    top: 450px;
    right: 280px;
}
.end{
    width: 140px;
    height: 33px;
}
.foot{
    width: 100%;
    height: 436px;
    background-color: #170A00;
}
.pizzashp{
    height: 160px;
    width: 100px;
    display: flex;
    h1 { 
    /* настройки самого шрифта, размер, начертание, верхний регистр всех символов */ 
    font-size: 30px; 
    font-weigth: bold; 
    font-family: sans-serif; 

    background-image: linear-gradient(to right, #ffba3a 0%, #ff8c2e 46%, #ff7300 100%); 
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}
}
.pizzashp1{
    height: 160px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 { 
    /* настройки самого шрифта, размер, начертание, верхний регистр всех символов */ 
    font-size: 30px; 
    font-weigth: bold; 
    font-family: sans-serif; 

    background-image: linear-gradient(to right, #ffba3a 0%, #ff8c2e 46%, #ff7300 100%); 
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
}
}
.ghop{
    width: 1500px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home{
    width: 130px;
    height: 170px;
    line-height: 40px;
}
.home h2{
    color: white;
    font-size: 20px;
    width: 130px;
    height: 40px;
}
.home p{
    color: #A3A3A3;
    width: 130px;
    font-size: 20px;
}
.events{
    width: 170px;
    height: 170px;
    line-height: 40px;
}
.events h2{
    color: white;
    font-size: 22px;
    width: 60px;
    height: 40px;
}
.events p{
    color: #A3A3A3;
    width: 170px;
    font-size: 19px;
}
.menu{
    width: 110px;
    height: 168px;
    line-height: 40px;
}
.menu h2{
    color: white;
    font-size: 20px;
    width: 51px;
    height: 40px;
}
.menu p{
    color: #A3A3A3;
    font-size: 20px;
    width: 110px;
}
.abus{
    width: 100px;
    height: 170px;
    line-height: 40px;
}
.abus h2{
    color: white;
    font-size: 20px;
    width: 85px;
    height: 40px;
}
.abus p{
    color: #A3A3A3;
    width: 100px;
    font-size: 20px;
}
.niz{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1800px;
    height: 120px;
}
.nomer{
    width: 350px;
    display: flex;
    justify-content: center;
}